.left {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background: #3DF2A4;

}

.right {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background: rgba(0, 229, 131, 0.29);
    overflow: auto;
}