.panel-container {
}

.panel-button-container {
    margin: 5%;
}

.panel-buttons-container {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    overflow: auto;
}

.panel-button {
    background-color: #2BAC75;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.panel-typePanel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
}

.panel-typePanel-button {
    background-color: #2BAC75;
    border: none;
    color: white;
    width: 40%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin:5%;
}