.table {
    margin: 1% 2%;
}

.tableHolder {
    margin: 1% 2%;
    padding: 1% 1%;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
}

.tableCellWithObject {text-align: left;}

.tr:hover {
    background: #f3bd48; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}

.trToDelete {
    background: white; /* Цвет фона при наведении */
    color: black; /* Цвет текста при наведении */
}